@model List<ShoppingList.Models.ItemVM>

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Indicative Price</th>
            <th>Priority</th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var Item in Model)
        {
        <tr>
            <td>

            @if (!Item.HasLink){
                <span>@Item.Text</span>
            }
            else{
                <a target="_blank" href="@Item.Link">@Item.Text</a>
            }

           </td>
            <td>@Item.Price.ToString("F2") &euro;</td>
            <td>@Item.Priority</td>
            <td>
                <a href="@Url.Action("Edit","Home")?id=@(Item.Id)" class="waves-effect waves-light btn">Edit</a>
                <a href="@Url.Action("Delete","Home")?id=@(Item.Id)" class="waves-effect waves-light btn">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>



@section side{
    @Session["Counter"]
}